discord.py==2.1.0
python-dotenv==1.0.1
asyncio==3.4.3
regex==2023.12.25
numpy==1.26.0
mechanize==0.4.9
requests==2.31.0
gspread==5.12.4
datetime==5.4
google-auth==2.27.0
boto3==1.26.28
matplotlib==3.8.2
pillow==10.2.0

