discord.py==2.1.0
python-dotenv
asyncio
regex
numpy==1.22.0
mechanize==0.4.6
requests==2.22.0
psycopg2-binary==2.8.4
gspread==5.7.1
datetime
google-auth==1.14.1
boto3==1.26.13
matplotlib==3.3.4
Pillow==9.3.0
